html,body{margin:0;padding:0;}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*{
    z-index: 1;
}
*:focus {
    outline:none;
}


.anim{
    animation: cargar 3s;
}
@-webkit-keyframes cargar{
    from{
        height: 10%;
    }
    to{
        height: 100%;
    }
}
#cabezera {
    

    -webkit-app-region: drag;
    margin: 0px;
    border: 0px;
    padding: 0%;
    border: none;
    background-color:   #17a589 ;
    color: aliceblue ;
    width: 100%;

    
}
.sticky{
    position:fixed;
	z-index:1000;
	top:0;
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}

header h1{
   
    margin: 0px;
    text-align: center;
    

}

#formulario{
    margin-top: 15%;
}
.contenedor{
    top: 30%;
    left: 0%;
    width: 100%;
    height: 30%;
    position: absolute;
}
input[type="text"]{

    position: relative;
    background-color: #DDE3E6; 
    border-radius: 5px;
    color: #7d7f80;
    border: 2px solid #7d7f80;
    padding-left: 20px;
    width: 60%;
    height: 30%;
    font-size: 30px;
    -webkit-transition-duration: 0.5s;

}
.placeholder{
    top: 20%;
    left: 22%;
    z-index: 10000;
    font-size: 200%;

    position: absolute;
    color: #7d7f80;
    transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
    transition: transform 150ms ease-out, font-size 150ms ease-out, -webkit-transform 150ms ease-out;
    
}
.active{
    color:  #17a589 ;
    -webkit-transform: translateY(-125%);
    transform: translateY(-125%);

}


input[type="text"]:hover{
    border-color:  #17a589 ;
    

}




#central button{
    margin: none;
    
    font-size: 300%;
    background-color: aliceblue;
    color:  #17a589 ;
    -webkit-transition-duration: 0.5s;
    border: 3px solid  #17a589 ;
    border-radius: 10px;
    
}
#central button:hover{
    
    color: aliceblue;
    background-color:  #17a589 ;


}
#central button:active{
    background-color: aliceblue;
    color:  #17a589 ;
}

                    /*---chat---*/

#msgs{
    overflow: auto;
    width: 95%;
    height: 70%;
    list-style-type:none;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    
    
}

.send1{
    text-align: left;

    font-size: 130%;
    width: 20%;
    max-width: 50%;
    display: block;
    margin: 10px;
    border: 5px solid #7d7f80;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 10px;
    justify-content: flex-start;
    float: left;
}

.send2{
    
    border-radius: 10px;
    text-align: center;
    font-size: 130%;
    padding: 0;
    display: block;
    margin: 10px;
    justify-content: flex-start;
    float: center;
}

.recv1{
    left: 55%;
    margin-right: 20px;
    text-align: left;
    font-size: 130%;
    width: 20%;
    max-width: 50%;
    display: block;
    position: relative;
    margin: 10px;
    border: 5px solid  #17a589 ;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 10px;
    justify-content: flex-end;
    float: right;
}

#mensaje{
    width: 60%;
    margin-left: 5px;
    margin-top: 0%;
    bottom: 0;
    height: 40%;
}
#send{
    width: 27%;
    margin: none;
    height: 40%;
    font-size: 100%;
    background-color: aliceblue;
    color:  #17a589 ;
    -webkit-transition-duration: 0.5s;
    border: 3px solid  #17a589 ;
    border-radius: 10px; 
    
    bottom: 0;
    height: 10%;
}
.controls{
    background-color: aliceblue;
    height: auto;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    right: 0;
    width: 100%;
}

.menu{
    color: aliceblue;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color:  #17a589 ;
    border: solid 1px  #17a589 ;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    box-shadow: 2px 2px 3px gray;
}

.menu input{
    padding: 8px 8px 8px 32px;
    transition: 0.3s;
    font-size: 15px;
    width: 60%;
    height: 5%;;
    
}

.menu .stateicon {
    color: aliceblue;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-right: 50px;
}
.openbtn{
    z-index: 100000;
    color: aliceblue;
    position: absolute;
    top: 0;
    left:  15px;
    font-size: 36px;
    margin-right: 50px;
}
#loadicon{
    display: none;
    position: absolute;
    top: 0;
    right: 15px;
    margin-right: 20px;
}
#central{
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .menu {padding-top: 15px;}
    .menu a {font-size: 18px;}
}

/*animacion carga*/
.lds-ring {
    display: inline-block;
    position: relative;
    width: 44px;
    height: 44px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 31px;
    height: 31px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*boton menu*/
  .container {

    cursor: pointer;
    z-index: 100000;
    color: aliceblue;
    position: absolute;
    top: 0;
    left:  15px;
    font-size: 36px;
    margin-right: 50px;
    
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: aliceblue;
    margin: 6px 0;
    transition: 0.4s;
    z-index: 10000;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@keyframes shake {
    0%, 100% {
      left: 0px;
      border: 2px solid #7d7f80;
      
    }
    20% , 60% {
      left: 15px;
      border: 2px solid #922b21;
      color: #922b21;
      
    }
    40% , 80% {
      left: -15px;
    }
  }

.animable.wrong-entry {
    animation: shake .3s linear;
  }